@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0px;
}

.menu {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.l1 {
    background-image: url("feuilles_site2.svg");
    background-position: 75% 50%;
    background-repeat: no-repeat;
    background-size: 300%;
    height: 100%;
    width: 38%;
    left: 0%;
    z-index: 0;
    position: absolute;
    display: none;
}

.l2 {
    background-image: url("light2.svg");
    background-position: 51% 24%;
    background-repeat: no-repeat;
    background-size: 500%;
    height: 100%;
    width: 38%;
    left: 35%;
    z-index: 0;
    position: absolute;
    display: none;
}

.l3 {
    background-image: url("light3.svg");
    background-position: 45% 28%;
    background-repeat: no-repeat;
    background-size: 600%;
    height: 100%;
    width: 50%;
    left: 60%;
    z-index: 0;
    position: absolute;
    display: none;
}


#choix {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 50vh;
}

.theme {
    width: 25vw;
    height: 50vh;
    border: solid 2px white;
    overflow: visible;
    z-index: 1;
    opacity: 0.6;
}

.theme:hover {
    z-index: 12;
    opacity: 1;
}


#t1 {
    background-color: #ffffff;
    overflow: hidden;
    top: 25vh;
    left: 14%;
    z-index: 1;
}

#t2 {
    top: 25vh;
    left: 39.2%;
    overflow: hidden;
    transition: height width 0.5s linear;
}

#comsoon1 {
    background-image: url("craiyon_232437_quiet_abstract_only_white_heaven.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40vw;
    height: 52.4vh;
    background-attachment: fixed;
}

#comsoon2 {
    background-image: url("craiyon_210630_computer_screening_coming_soon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 35.5vw;
    height: 52.4vh;
    background-attachment: fixed;
}

#comsoon3 {
    background-image: url("craiyon_220726_computer.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 38vw;
    height: 52.4vh;
    background-attachment: fixed;
    position: relative;
}


#t3 {
    top: 25vh;
    left: 64.4%;
    background-color: #a4a4a7;
    overflow: hidden;
}

#imgpla {
    width: 35vw;
    height: 52vh;
    background-image: url("plantes_site.svg");
    background-size: 132%;
    background-position: bottom -6px left -2px;
    background-repeat: no-repeat;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anipla {
    animation: animpla 2s ease-out;
    animation-fill-mode: forwards;
    background-image: url("plantes_site24.svg");
}



@keyframes animpla {
    0% {
        background-image: url("plantes_site.svg");
    }

    10% {
        background-image: url("plantes_site1.svg");
    }

    13% {
        background-image: url("plantes_site2.svg");
    }

    16% {
        background-image: url("plantes_site3.svg");
    }

    19% {
        background-image: url("plantes_site4.svg");
    }

    21% {
        background-image: url("plantes_site5.svg");
    }

    24% {
        background-image: url("plantes_site6.svg");
    }

    27% {
        background-image: url("plantes_site7.svg");
    }

    30% {
        background-image: url("plantes_site8.svg");
    }

    33% {
        background-image: url("plantes_site9.svg");
    }

    36% {
        background-image: url("plantes_site10.svg");
    }

    39% {
        background-image: url("plantes_site11.svg");
    }

    42% {
        background-image: url("plantes_site12.svg");
    }

    45% {
        background-image: url("plantes_site13.svg");
    }

    48% {
        background-image: url("plantes_site14.svg");
    }

    50% {
        background-image: url("plantes_site15.svg");
    }

    55% {
        background-image: url("plantes_site16.svg");
    }

    60% {
        background-image: url("plantes_site17.svg");
    }

    65% {
        background-image: url("plantes_site18.svg");
    }

    70% {
        background-image: url("plantes_site19.svg");
    }

    75% {
        background-image: url("plantes_site20.svg");
    }

    80% {
        background-image: url("plantes_site21.svg");
    }

    85% {
        background-image: url("plantes_site22.svg");
    }

    90% {
        background-image: url("plantes_site23.svg");
    }

    100% {
        background-image: url("plantes_site24.svg");
    }
}


#imgcir {
    width: 35vw;
    height: 30vh;
    background-image: url("cercle_site.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    margin-bottom: 20%;
}

@keyframes cirexpanim {
    0% {
        width: 35vw;
        height: 30vh;
    }

    50% {
        width: 15vw;
        height: 10vh;
    }

    100% {
        width: 35vw;
        height: 30vh;
    }
}

.cirexp {
    animation: infinite alternate 10s ease-in-out cirexpanim;
}

.expandedt1 {
    width: 35vw;
    height: 52vh;
    transition: width 0.5s, height 0.5s;
}

.expandedt2 {
    width: 35vw;
    height: 52vh;
    margin-right: 5vw;
    margin-left: -5vw;
    margin-bottom: 2vh;
    transition: width 0.5s, height 0.5s, margin-left 0.5s;
}

.expandedt3 {
    width: 35vw;
    height: 52vh;
    margin-left: -10vw;
    margin-bottom: 2vh;
    transition: width 0.5s, height 0.5s, margin-left 0.5s;
}

#titre {
    color: #F8F8FF;
    font-family: 'Poppins', sans-serif;
    font-size: 2.6em;
    text-align: center;
    animation: animnom 2s;
    overflow: hidden;
    z-index: 2;
}

#ssTitre {
    color: #F8F8FF;
    font-family: 'Poppins', sans-serif;
    font-size: 2.6em;
    animation: animhi 2s;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
}

.titTheme {
    color: #c7c434;
    font-family: 'Poppins', sans-serif;
    font-size: 2.6em;
    margin-left: 5vw;
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.202); */
}

@keyframes animnom {
    0% {
        margin-left: -100vw;
    }

    100% {
        text-align: center;
    }
}

@keyframes animhi {
    0% {
        margin-left: 100vw;
    }

    100% {
        text-align: center;
    }
}

.langages1 {
    position: absolute;
    margin-left: -45vw;
    top: 82vh;
    color: #ffffff;
    font-size: 1.2vw;
    display: none;
    background-color: #c4c0b949;
}

.langages2 {
    position: absolute;
    margin-left: 0vw;
    top: 82vh;
    color: #ffffff;
    font-size: 1.2vw;
    display: none;
    background-color: #2e90ff49;
}

.langages3 {
    position: absolute;
    margin-left: 45vw;
    top: 82vh;
    color: #ffffff;
    font-size: 1.2vw;
    display: none;
    background-color: #fd71ff49;
}